<form action="/rem-products" method="post">
    <div class="form-group">
        <label for=""><i>Product ID</i></label>
        <input type="text" name="Name" class="form-control" id="" placeholder="">
    </div>
    <br>
    <button type="submit" class="btn btn-danger" onclick="">Delete</button>
</form>