
<center><h1 class="order-status">Order Placed Successfully!!</h1></center>

<style>
  .order-status{
    font-size: large;
    color: green;
    text-align: center;
    margin-top: 50px;
  }
</style>
      <div class="viewAllOrders">
        <a href="/orders"><button type="submit" class="btn btn-primary btn-md">
          View All Orders
        </button>
        </a>
      </div>
<style>
  .viewAllOrders{
    align-items: center;
    margin-left: 610px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
</style>